@tailwind base;
@tailwind components;
@tailwind utilities;




/* .online .card{
  transition: all 700ms;
}

.online .card:hover{
  background-color: black;
} */


.premium{
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)),url('https://images.pexels.com/photos/1117132/pexels-photo-1117132.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-repeat: no-repeat;
}


.swiper-pagination-bullet{
margin-left: 2rem;
font-size: 0rem;
width: 1rem;
height: 1rem;
}

.swiper-pagination-bullet-active{
  background: chartreuse;

}